.bookmarked-title-list {
  text-align: left;
  border: 1px solid #ddd;
}
.bookmarked-title-list {
  font-size: 0.8rem;
}
.bookmark-length {
  width: 50px;
  height: 40px;
  border-radius: 50%;
  background-color: #4c0ac3;
  color: #fff;
  padding: 10px;
}
