.single-blog-post {
  margin: 5rem 0rem;
  text-align: left;
}
.blog-image-container {
  padding: 0rem 0.3rem;
}
.blog-image {
  width: 100%;
  height: 400px;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.blog-details {
  margin-top: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem;
}

.author-info-area {
  display: flex;
  align-items: center;
}

.author-image-area img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0.3rem;
  margin-right: 1rem;
  box-shadow: none;
  border: 0.3rem solid #e7e9eb;
}
.author-name {
  font-size: 1rem;
  font-weight: 700;
}
.published-date {
  font-weight: 600;
  font-size: 0.9rem;
}
.blog-title {
  padding: 0.3rem;
}
.blog-title h2 {
  font-size: 1.7rem;
  font-weight: 900;
}
.blog-body {
  padding: 0rem 0.3rem;
}
.bookmark-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.mark-read {
  padding: 0.3rem;
}

.btn-show-more,
.btn-show-less {
  float: right;
  margin: 0.3rem;
}
/* Media queries */
@media only screen and (max-width: 576px) {
  .single-blog-post {
    margin: 1rem 0rem;
  }
  .blog-image-container {
    padding: 0.3rem 0rem;
  }
}
